@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ddd;
  margin: 0;
  padding: 0;
}
nav {
  background-color: #fff;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
}
nav li a {
  color: #444;
  text-decoration: none;
  padding: 0.75em 1.75em;
  display: block;
}

nav li:hover a {
  background-color: #444;
  color: #fff;
}

.menu__sub {
  display: none;
  position: absolute;
  background-color: #444;
  width: 55%;
  color: #fff;
  padding: 2em;
}

nav li:hover .menu__sub {
  display: block;
}

.menu__sub li {
  display: block;
}

.menu__sub a {
  padding: 0;
  margin-bottom: 0.35em;
}
.menu__sub a:hover {
  text-decoration: underline;
}

.menu-category {
  margin: 2.5em 0 0.5em;
}
.menu-category:first-of-type {
  margin-top: 0;
}
[class^="menu-col"] {
  float: left;
}
.menu-col-1 {
  width: calc(100% / 3);
  min-height: 120px;
}
