* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #f7f7f7;
}
header nav {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  background-color: #fff;
  -webkit-box-shadow: 1px 0px 15px -6px #000000;
  box-shadow: 1px 0px 15px -6px #000000;
}

header nav div {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
header nav .left {
  flex: 1;
  margin-right: 70px;
}
header nav .center {
  flex: 2;
  justify-content: center;
  gap: 5px;
}
header nav .center i {
  padding: 10px 40px;
  cursor: pointer;
}
header nav .center i:hover {
  background-color: #ccc;
  border-radius: 10px;
}
header nav div i {
  font-size: 2rem;
}
header nav div input {
  border-radius: 50px;
  height: 40px;
  text-align: left;
  border: 1px solid #ddd;
  width: 100%;
  position: relative;
  background-color: #f7f7f7;
}
header nav div input:focus {
  outline: none;
}
header nav div input::placeholder {
  position: absolute;
  top: 13px;
  left: 12px;
}
header nav .right {
  flex: 1;
  gap: 30px;
  margin-left: 100px;
}
main {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 2fr 1fr;
}
aside {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 15px;
}
aside div {
  display: flex;
  gap: 30px;
}
section {
  display: flex;
  flex-direction: column;
}
.section-right {
  display: flex;
  flex-direction: column;
}
