@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1600px;
  min-width: 1600px;
  width: 100vw;
  color: #000;
  overflow-x: hidden;
  font-weight: normal;
  margin: 0 auto;
  background-color: #f3f3f3;
}

main {
  padding: 0rem 3rem;
}

ul {
  background-color: rgba(255, 255, 255, 0.9);
}
.page-about-collage-background {
  position: absolute;
  z-index: 0;
}
